@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

:root {
  --font: "Rock Salt", cursive;
  --color-primary: hsl(356, 82%, 68%);
  --color-secondary: hsl(232, 23%, 32%);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-secondary);
  height: 100%;
  margin: 5rem;
  display: grid;
  grid-template-areas: "form" "agent-container";
  row-gap: 3rem;
}

.form {
  grid-area: form;
  display: flex;
  flex-flow: row wrap;
  position: relative;
}

.input-label {
  font-size: 1.6rem;
  transform: translate(0, 0);
}

.input-placeholder {
  font-family: var(--font);
  color: var(--color-primary);
  font-size: 1.8rem;
  flex-basis: 100%;
  transform: translate(3rem, 6.5rem);
  pointer-events: none;
  transition: all 0.6s;
}

.input-label,
.form:focus-within .input-placeholder {
  transform: translate(0, 0);
}

.input-field {
  background: transparent;
  border: 0.15rem solid var(--color-primary);
  padding: 2rem 3rem;
  outline: none;
  font-family: var(--font);
  color: var(--color-primary);
  font-size: 1.8rem;
  flex: 1 1 70%;
  box-sizing: border-box;
}

.input-field::placeholder {
  color: var(--color-primary);
  font-size: 1.8rem;
}

.btn {
  padding: 1rem 2.5rem;
  font-size: 1.8rem;
  white-space: nowrap;
  color: var(--color-primary);
  background: transparent;
  border: 0.15rem solid var(--color-primary);
  outline: none;
  font-family: var(--font);
  flex: 1 1 30%;
  box-sizing: border-box;
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background-color: var(--color-primary);
  color: whitesmoke;
}

.btn:active {
  transform: scale(0.95);
}

.agent-container {
  grid-area: agent-container;
  display: none;
  grid-template-columns: auto 3fr 1fr;
  grid-template-areas:
    "displayName      displayName         displayName"
    "description      description         description"
    "agentDisplay     roleName            roleIcon"
    "agentDisplay     roleDescription     roleDescription"
    "ability-1        ability-1           ability-1"
    "ability-2        ability-2           ability-2"
    "ability-3        ability-3           ability-3"
    "ability-4        ability-4           ability-4";
  gap: 1rem;
}

.agent-item {
  font-family: var(--font);
  font-size: 1.6rem;
  color: var(--color-primary);
  background: transparent;
  border: 0.2rem solid var(--color-primary);
  padding: 4rem;
}

.displayName {
  grid-area: displayName;
  font-size: 2rem;
}

.description {
  grid-area: description;
  text-align: justify;

  display: flex;
  align-items: center;
}

.agentDisplay {
  padding: 0;
  grid-area: agentDisplay;
  display: flex;
}

.agentDisplay img {
  max-width: 35rem;
  object-fit: contain;
  object-position: bottom;
}

.roleIcon {
  grid-area: roleIcon;
  display: flex;
  align-items: center;
  justify-content: center;
}

.roleIcon img {
  object-fit: fill;
}

.roleName {
  grid-area: roleName;
  text-align: justify;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.roleDescription {
  grid-area: roleDescription;
  text-align: justify;
  display: flex;
  align-items: center;
}

.abilityContainer {
  display: grid;
  grid-template-areas: "abilityIcon abilityTitle abilityDescription";
  gap: 1rem;
}

.abilityContainer:nth-of-type(7) {
  grid-area: ability-1;
}
.abilityContainer:nth-of-type(8) {
  grid-area: ability-2;
}
.abilityContainer:nth-of-type(9) {
  grid-area: ability-3;
}
.abilityContainer:nth-of-type(10) {
  grid-area: ability-4;
}

.abilityIcon {
  grid-area: abilityIcon;
  display: flex;
  align-items: center;
}

.abilityIcon img {
  object-fit: none;
}

.abilityTitle {
  grid-area: abilityTitle;
  writing-mode: vertical-rl;
  /* text-orientation: upright; */
  text-align: center;
  transform: rotateZ(180deg);
}

.abilityDescription {
  grid-area: abilityDescription;
  text-align: justify;
  padding: 3rem;
  display: flex;
  align-items: center;
}
